<!DOCTYPE html>
{% load cart_tag %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cart detail</title>
  <script src="https://cdn.ethers.io/scripts/ethers-v3.min.js" charset="utf-8" type="text/javascript">
  </script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <style>
    #summary {
      background-color: #f6f6f6;
    }
  </style>
</head>


<body>
  {% if isSupporterDone == False%}
  {% for key,value in request.session.cart.items %}

  <div class="container mx-auto mt-10">
    <div class="flex my-10">
      <div class="w-3/4 bg-white px-10 py-10">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        </div>
        <div class="flex mt-10 mb-5">
          <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
        </div>
        <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
          <div class="flex w-2/5">
            <!-- product -->
            <div class="w-20">
              <img class="h-24" src="/images/{{value.image}}" alt="">
            </div>
            <div class="flex flex-col justify-between ml-4 flex-grow">
              <span class="font-bold text-sm">{{value.name}}</span>
              <span class="text-red-500 text-xs"></span>
            </div>
          </div>
          <div class="flex justify-center w-1/5">
            <a class="fill-current text-gray-600 w-3" href="{% url 'item_decrement' value.product_id %}"
              viewBox="0 0 448 512">-</a>
            <input class="mx-2 border text-center w-8" type="text" value="1">
            <a class="fill-current text-gray-600 w-3" href="{% url 'item_increment' value.product_id %}"
              viewBox="0 0 448 512">+</a>
          </div>
          <span class="text-center w-1/5 font-semibold text-sm">{{value.price}}</span>
          <span class="text-center w-1/5 font-semibold text-sm">{{ value.price|multiply:value.quantity }}</span>
        </div>
        <a href="#" class="flex font-semibold text-indigo-600 text-sm mt-10">
          <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
        <br>
        <button onClick="connectWallet()"
          class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
      </div>
    </div>
  </div>
</body>
{% endfor %}
{% endif %}
<br>
</body>

<script>

  const receiver = "{{ receiverWalletAddress }}";
  let sender;
  console.log('receiver');
  console.log(receiver);


  async function connectWallet() {

    if (window.ethereum) {
      const allWalletAccounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
      sender = allWalletAccounts[0];

      transaction();
      console.log('sender' + sender);
    }
  }

  async function transaction() {

    const _1_MATIC_value = "{{ total }}";
    const provider_t = new ethers.providers.Web3Provider(window.ethereum);
    const signer_t = provider_t.getSigner();
    console.log(signer_t);
    const txn = await signer_t.sendTransaction({ to: receiver, value: ethers.utils.parseEther(_1_MATIC_value) });
    const x = txn.wait();
    console.log('Hello');
    console.log(x);
    alert('Money Sent to Receiver');
    $.ajax({
      type: "GET",
      url: 'clean_user_cart/',
      data: {},
      dataType: 'json',
      success: function (data) {

        console.log('removed old cart')
      }
    });
  }

</script>


</html>