<!DOCTYPE html>
{% load cart_tag %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.ethers.io/scripts/ethers-v3.min.js" charset="utf-8" type="text/javascript">


  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>

<body>
  cart


  <br>

  {% if isSupporterDone == False%}

  <div>

    <table class='table'>
      <thead>
        <th>Item</th>
        <th>Price</th>
        <th>delete</th>
      </thead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: {{total}}</td>
        </tr>
      </tfoot>

      {% for key,value in request.session.cart.items %}
      <tr>
        <td>{{value.name}}</td>
        <td>{{value.price}}</td>


        <td>
          <a href="{% url 'item_clear' value.product_id %}">-</a>
        </td>
      </tr>

      {% endfor %}
    </table>
    <button onClick="connectWallet()">Support</button>
    <a href="{% url 'clean_user_cart' %}" id="clean-up" hidden></a>
  </div>
  {% else %}

  Thanks for the support
  {% endif %}

</body>

<script>

  const receiver = "{{ receiverWalletAddress }}";
  let sender;
  console.log('receiver');
  console.log(receiver);


  async function connectWallet() {

    if (window.ethereum) {
      const allWalletAccounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
      sender = allWalletAccounts[0];

      transaction();
      console.log('sender' + sender);
    }
  }

  async function transaction() {

    const _1_MATIC_value = "{{ total }}";
    const provider_t = new ethers.providers.Web3Provider(window.ethereum);
    const signer_t = provider_t.getSigner();
    console.log(signer_t);
    const txn = await signer_t.sendTransaction({ to: receiver, value: ethers.utils.parseEther(_1_MATIC_value) });
    const x = txn.wait();
    console.log('Hello');
    console.log(x);
    alert('Money Sent to Receiver');
    clean - up
    document.getElementById('clean-up').click();
  }

</script>


</html>